<h1>Detected diseas so far...</h1>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th>Retinaimage</th>
      <th>Timestamps</th>

      <th></th>
    </tr>
  </thead>
  <tbody>

  </tbody>
</table>

<span><%= link "Start New Prediction", to: Routes.retinal_path(@conn, :new) %></span>
