<h1>Show Retina</h1>

<ul>

  <li>
    <strong>Title:</strong>
    <%= @retina.title %>
  </li>

  <li>
    <strong>Content:</strong>
    <%= @retina.content %>
  </li>

  <li>
    <strong>Is published:</strong>
    <%= @retina.is_published %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.retina_path(@conn, :edit, @retina) %></span>
<span><%= link "Back", to: Routes.retina_path(@conn, :index) %></span>
